body {
  margin: 0;
  padding: 10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 200px;
}

li {
  margin: 0 2px 2px 0;
  padding: 10px;
  background-color: lightgray;
  border-radius: 3px;
}

.hidden {
  display: none;
}

#dropdown-root > ul {
  position: absolute;
}

#dropdown-root ul > li {
  position: relative;
}

#dropdown-root ul > li > ul {
  position: absolute;
  top: 0;
  left: calc(100% + 2px);
}